div{
    background-color:#191970;
    height: 600px;
}

h1, h4{
    text-align: center;
    color: #fff;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    height: 70%;
}